.book-item {
  width: 30%;
  font-size: 1.5em;
  margin: 25px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 2px rgba(9, 8, 8, 0.42);
}

.delete-button {
  font-size: 1em;
  width: 70px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
}

.delete-button:hover {
  cursor: pointer;
}
